{% extends "base.html" %}

{% block title %}愿望清单-登陆{% endblock title %}

{% block header_con %}
{% endblock header_con %}
{% block body %}
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">用户登陆</h2>
            <label for="inputEmail" class="sr-only">请输入账号</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="请输入账号" required autofocus>
            <label for="inputPassword" class="sr-only">请输入密码</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="请输入密码" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> 记住账号
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>

    </div> <!-- /container -->
{% endblock body %}


