{% extends "base_menu.html" %}

{% block title %}愿望清单{% endblock title %}

{% block right_content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">愿望</h1>

        <h2 class="sub-header">愿望列表</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>愿望</th>
                    <th>许愿人</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>哈哈哈</td>
                    <td>呵呵呵</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock right_content %}

